@use 'sass:color';

body {
  margin: 0;
  font-family: 'Inter', 'Segoe UI', system-ui, -apple-system, sans-serif;
  background-color: #0b1533;
  color: #fff;
}

a {
  color: color.adjust(#0dcaf0, $lightness: 10%);
}
